@import "Variables.scss";

.container {
  min-height: 89vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.8rem;
  }
}

.background {
  background-image: url("../img/background.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.search {
  background-image: url("../img/search.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.button_main {
  font-size: 1.3rem;
  padding: 1.6rem 4rem;
  margin-bottom: 10rem;
  margin-top: 6rem;
}

.items {
  width: 100%;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.transformer {
  width: 20rem;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
  margin: 1rem 3rem;
  p {
    text-align: center;
    color: #4f5a9e;
  }

  h2 {
    font-weight: 500;
  }

  h4 {
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
}

.status {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.ok {
  background: rgba(14, 167, 8, 0.45);
}
.injured {
  background: rgba(131, 10, 10, 0.4);
}
.mia {
  background: rgba(63, 60, 63, 0.4);
}

.details {
  &:hover {
    text-decoration: underline;
  }
}

.filter {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  flex-wrap: wrap;

  &__button {
    border: none;
    width: 10rem;
    padding: 1rem 2rem;
    margin: 0 2rem;
    background: rgba(131, 10, 10, 0.4);
    transition: 0.4s;

    &_deception {
      background: rgba(73, 36, 126, 0.4);
    }
  }
}
